
.nav {
  text-align: justify;
  position:center;
  float: center;
  background-color: #333;
  clear:right;
  padding: 10px 150px;
  border: 1px solid #e7e7e7;
  color: white;
}

.nav ul {
background-color: #333;
}

.nav li {
  display:inline;
  padding:20px;
  border-right: 1px solid #bbb;
}

.nav li:last-child {
    border-right: none;
}

.nav li a {
  color: white;
  text-align: center;
  padding: 20px 20px;
}

.content {
 border-left: 100px solid #e8e8ee;
 border-right: 100px solid #e8e8ee;
 background-color:white;
 padding:20px;
 text-align: center;
}

.page-header {
  padding:20px;
  border-bottom: 2px solid #e8e8ee;
}


.cosas {
  border-bottom: 2px solid #e8e8ee
  height:320px;
}
.cosas img {
  float:left;
}
