.page-header {
  text-align: center;
  font-weight: 300;
}


html, body {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  font-weight: 300;
  line-height: 1.5;
}

body {
  background-image: url("http://webneel.com/wallpaper/sites/default/files/images/08-2013/10-star-fish-sea-beach-sand-wallpaper.jpg");
  background-position: center;
  background-size: cover;
  opacity:1;
}

.nav {
  Display: Block;
  background-color: #FFEE00
}

.ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 200px;
  background-color: #f1f1f1
}

.li hover{
  background-color:#555;
  color:white;
}
