
.nav {
  text-align: justify;
  position:center;
  float: center;
  background-color: #333;
  clear:right;
  color: white;
  padding: 10px 10px;
}

.nav ul {
 border: 1px solid #e7e7e7;
background-color: #333;
color:white;
}

.nav li {
  display:inline;
  color: white;
}

.nav li a {
  color: white;
  text-align: center;
  padding: 14px 16px;
}
